.lang_color {
    &.ABAP {
        background: #E8274B;
    }
    &.AGS Script {
        background: #B9D9FF;
    }
    &.AMPL {
        background: #E6EFBB;
    }
    &.ANTLR {
        background: #9DC3FF;
    }
    &.API Blueprint {
        background: #2ACCA8;
    }
    &.APL {
        background: #5A8164;
    }
    &.ASP {
        background: #6a40fd;
    }
    &.ATS {
        background: #1ac620;
    }
    &.ActionScript {
        background: #882B0F;
    }
    &.Ada {
        background: #02f88c;
    }
    &.Agda {
        background: #315665;
    }
    &.Alloy {
        background: #cc5c24;
    }
    &.Ant Build System {
        background: undefined;
    }
    &.ApacheConf {
        background: undefined;
    }
    &.Apex {
        background: undefined;
    }
    &.AppleScript {
        background: undefined;
    }
    &.Arc {
        background: #aa2afe;
    }
    &.Arduino {
        background: #bd79d1;
    }
    &.AsciiDoc {
        background: undefined;
    }
    &.AspectJ {
        background: #a957b0;
    }
    &.Assembly {
        background: #6E4C13;
    }
    &.Augeas {
        background: undefined;
    }
    &.AutoHotkey {
        background: #6594b9;
    }
    &.AutoIt {
        background: #1C3552;
    }
    &.Awk {
        background: undefined;
    }
    &.Batchfile {
        background: undefined;
    }
    &.Befunge {
        background: undefined;
    }
    &.Bison {
        background: undefined;
    }
    &.BitBake {
        background: undefined;
    }
    &.BlitzBasic {
        background: undefined;
    }
    &.BlitzMax {
        background: #cd6400;
    }
    &.Bluespec {
        background: undefined;
    }
    &.Boo {
        background: #d4bec1;
    }
    &.Brainfuck {
        background: #2F2530;
    }
    &.Brightscript {
        background: undefined;
    }
    &.Bro {
        background: undefined;
    }
    &.C {
        background: #555555;
    }
    &.Cs {
        background: #178600;
    }
    &.Cpp {
        background: #f34b7d;
    }
    &.C-ObjDump {
        background: undefined;
    }
    &.C2hs Haskell {
        background: undefined;
    }
    &.CLIPS {
        background: undefined;
    }
    &.CMake {
        background: undefined;
    }
    &.COBOL {
        background: undefined;
    }
    &.CSS {
        background: #563d7c;
    }
    &.CartoCSS {
        background: undefined;
    }
    &.Ceylon {
        background: undefined;
    }
    &.Chapel {
        background: #8dc63f;
    }
    &.ChucK {
        background: undefined;
    }
    &.Cirru {
        background: #ccccff;
    }
    &.Clarion {
        background: #db901e;
    }
    &.Clean {
        background: #3F85AF;
    }
    &.Clojure {
        background: #db5855;
    }
    &.CoffeeScript {
        background: #244776;
    }
    &.ColdFusion {
        background: #ed2cd6;
    }
    &.ColdFusion CFC {
        background: #ed2cd6;
    }
    &.Common Lisp {
        background: #3fb68b;
    }
    &.Component Pascal {
        background: #b0ce4e;
    }
    &.Cool {
        background: undefined;
    }
    &.Coq {
        background: undefined;
    }
    &.Cpp-ObjDump {
        background: undefined;
    }
    &.Creole {
        background: undefined;
    }
    &.Crystal {
        background: #776791;
    }
    &.Cucumber {
        background: undefined;
    }
    &.Cuda {
        background: undefined;
    }
    &.Cycript {
        background: undefined;
    }
    &.Cython {
        background: undefined;
    }
    &.D {
        background: #fcd46d;
    }
    &.D-ObjDump {
        background: undefined;
    }
    &.DIGITAL Command Language {
        background: undefined;
    }
    &.DM {
        background: #447265;
    }
    &.DTrace {
        background: undefined;
    }
    &.Darcs Patch {
        background: undefined;
    }
    &.Dart {
        background: #00B4AB;
    }
    &.Diff {
        background: #88dddd;
    }
    &.Dockerfile {
        background: undefined;
    }
    &.Dogescript {
        background: #cca760;
    }
    &.Dylan {
        background: #6c616e;
    }
    &.E {
        background: #ccce35;
    }
    &.ECL {
        background: #8a1267;
    }
    &.Eagle {
        background: #814C05;
    }
    &.Ecere Projects {
        background: undefined;
    }
    &.Eiffel {
        background: #946d57;
    }
    &.Elixir {
        background: #6e4a7e;
    }
    &.Elm {
        background: #60B5CC;
    }
    &.Emacs Lisp {
        background: #c065db;
    }
    &.EmberScript {
        background: #FFF4F3;
    }
    &.Erlang {
        background: #B83998;
    }
    &.Fs {
        background: #b845fc;
    }
    &.FLUX {
        background: #88ccff;
    }
    &.FORTRAN {
        background: #4d41b1;
    }
    &.Factor {
        background: #636746;
    }
    &.Fancy {
        background: #7b9db4;
    }
    &.Fantom {
        background: #dbded5;
    }
    &.Filterscript {
        background: undefined;
    }
    &.Formatted {
        background: undefined;
    }
    &.Forth {
        background: #341708;
    }
    &.Frege {
        background: #00cafe;
    }
    &.G-code {
        background: undefined;
    }
    &.GAMS {
        background: undefined;
    }
    &.GAP {
        background: undefined;
    }
    &.GAS {
        background: undefined;
    }
    &.GDScript {
        background: undefined;
    }
    &.GLSL {
        background: undefined;
    }
    &.Game Maker Language {
        background: #8fb200;
    }
    &.Genshi {
        background: undefined;
    }
    &.Gentoo Ebuild {
        background: undefined;
    }
    &.Gentoo Eclass {
        background: undefined;
    }
    &.Gettext Catalog {
        background: undefined;
    }
    &.Glyph {
        background: #e4cc98;
    }
    &.Gnuplot {
        background: #f0a9f0;
    }
    &.Go {
        background: #375eab;
    }
    &.Golo {
        background: #88562A;
    }
    &.Gosu {
        background: #82937f;
    }
    &.Grace {
        background: undefined;
    }
    &.Gradle {
        background: undefined;
    }
    &.Grammatical Framework {
        background: #79aa7a;
    }
    &.Graph Modeling Language {
        background: undefined;
    }
    &.Graphviz {
        background: undefined;
    }
    &.Groff {
        background: undefined;
    }
    &.Groovy {
        background: #e69f56;
    }
    &.Groovy Server Pages {
        background: undefined;
    }
    &.HTML {
        background: #e44b23;
    }
    &.HTML+Django {
        background: undefined;
    }
    &.HTML+ERB {
        background: undefined;
    }
    &.HTML+PHP {
        background: undefined;
    }
    &.HTTP {
        background: undefined;
    }
    &.Hack {
        background: undefined;
    }
    &.Haml {
        background: undefined;
    }
    &.Handlebars {
        background: #01a9d6;
    }
    &.Harbour {
        background: #0e60e3;
    }
    &.Haskell {
        background: #29b544;
    }
    &.Haxe {
        background: #f7941e;
    }
    &.Hy {
        background: #7790B2;
    }
    &.HyPhy {
        background: undefined;
    }
    &.IDL {
        background: #a3522f;
    }
    &.IGOR Pro {
        background: undefined;
    }
    &.INI {
        background: undefined;
    }
    &.IRC log {
        background: undefined;
    }
    &.Idris {
        background: undefined;
    }
    &.Inform7 {
        background: undefined;
    }
    &.Inno Setup {
        background: undefined;
    }
    &.Io {
        background: #a9188d;
    }
    &.Ioke {
        background: #078193;
    }
    &.Isabelle {
        background: #FEFE00;
    }
    &.J {
        background: #9EEDFF;
    }
    &.JFlex {
        background: #DBCA00;
    }
    &.JSON {
        background: undefined;
    }
    &.JSON5 {
        background: undefined;
    }
    &.JSONLD {
        background: undefined;
    }
    &.JSONiq {
        background: undefined;
    }
    &.Jade {
        background: undefined;
    }
    &.Jasmin {
        background: undefined;
    }
    &.Java {
        background: #b07219;
    }
    &.Java Server Pages {
        background: undefined;
    }
    &.JavaScript {
        background: #f1e05a;
    }
    &.Julia {
        background: #a270ba;
    }
    &.KRL {
        background: #28431f;
    }
    &.KiCad {
        background: undefined;
    }
    &.Kit {
        background: undefined;
    }
    &.Kotlin {
        background: #EA4DFA;
    }
    &.LFE {
        background: #004200;
    }
    &.LLVM {
        background: undefined;
    }
    &.LOLCODE {
        background: #cc9900;
    }
    &.LSL {
        background: #3d9970;
    }
    &.LabVIEW {
        background: undefined;
    }
    &.Lasso {
        background: #999999;
    }
    &.Latte {
        background: #A8FF97;
    }
    &.Lean {
        background: undefined;
    }
    &.Less {
        background: undefined;
    }
    &.LilyPond {
        background: undefined;
    }
    &.Limbo {
        background: undefined;
    }
    &.Linker Script {
        background: undefined;
    }
    &.Liquid {
        background: undefined;
    }
    &.Literate Agda {
        background: undefined;
    }
    &.Literate CoffeeScript {
        background: undefined;
    }
    &.Literate Haskell {
        background: undefined;
    }
    &.LiveScript {
        background: #499886;
    }
    &.Logos {
        background: undefined;
    }
    &.Logtalk {
        background: undefined;
    }
    &.LookML {
        background: #652B81;
    }
    &.LoomScript {
        background: undefined;
    }
    &.Lua {
        background: #000080;
    }
    &.M {
        background: undefined;
    }
    &.MTML {
        background: #b7e1f4;
    }
    &.MUF {
        background: undefined;
    }
    &.Makefile {
        background: #427819;
    }
    &.Mako {
        background: undefined;
    }
    &.Markdown {
        background: undefined;
    }
    &.Mask {
        background: #f97732;
    }
    &.Mathematica {
        background: undefined;
    }
    &.Matlab {
        background: #bb92ac;
    }
    &.Maven POM {
        background: undefined;
    }
    &.Max {
        background: #c4a79c;
    }
    &.MediaWiki {
        background: undefined;
    }
    &.Mercury {
        background: #ff2b2b;
    }
    &.MiniD {
        background: undefined;
    }
    &.Mirah {
        background: #c7a938;
    }
    &.Modelica {
        background: undefined;
    }
    &.Module Management System {
        background: undefined;
    }
    &.Monkey {
        background: undefined;
    }
    &.Moocode {
        background: undefined;
    }
    &.MoonScript {
        background: undefined;
    }
    &.Myghty {
        background: undefined;
    }
    &.NL {
        background: undefined;
    }
    &.NSIS {
        background: undefined;
    }
    &.Nemerle {
        background: #3d3c6e;
    }
    &.NetLinx {
        background: #0aa0ff;
    }
    &.NetLinx+ERB {
        background: #747faa;
    }
    &.NetLogo {
        background: #ff6375;
    }
    &.NewLisp {
        background: #87AED7;
    }
    &.Nginx {
        background: undefined;
    }
    &.Nimrod {
        background: #37775b;
    }
    &.Ninja {
        background: undefined;
    }
    &.Nit {
        background: #009917;
    }
    &.Nix {
        background: #7e7eff;
    }
    &.Nu {
        background: #c9df40;
    }
    &.NumPy {
        background: undefined;
    }
    &.OCaml {
        background: #3be133;
    }
    &.ObjDump {
        background: undefined;
    }
    &.Objective-C {
        background: #438eff;
    }
    background: #6866fb;
    &.Objective-J {
        background: #ff0c5a;
    }
    &.Omgrofl {
        background: #cabbff;
    }
    &.Opal {
        background: #f7ede0;
    }
    &.Oxygene {
        background: #cdd0e3;
    }
    &.Oz {
        background: #fab738;
    }
    &.PAWN {
        background: #dbb284;
    }
    &.PHP {
        background: #4F5D95;
    }
    &.Pan {
        background: #cc0000;
    }
    &.Papyrus {
        background: #6600cc;
    }
    &.Parrot {
        background: #f3ca0a;
    }
    &.Pascal {
        background: #b0ce4e;
    }
    &.Perl {
        background: #0298c3;
    }
    &.Perl6 {
        background: #0000fb;
    }
    &.PigLatin {
        background: #fcd7de;
    }
    &.Pike {
        background: #005390;
    }
    &.Pod {
        background: undefined;
    }
    &.PogoScript {
        background: #d80074;
    }
    &.PostScript {
        background: undefined;
    }
    &.PowerShell {
        background: undefined;
    }
    &.Processing {
        background: #0096D8;
    }
    &.Prolog {
        background: #74283c;
    }
    &.Propeller Spin {
        background: #7fa2a7;
    }
    &.Protocol Buffer {
        background: undefined;
    }
    &.Public Key {
        background: undefined;
    }
    &.Puppet {
        background: #332A77;
    }
    &.Pure Data {
        background: #91de79;
    }
    &.PureBasic {
        background: #5a6986;
    }
    &.PureScript {
        background: #1D222D;
    }
    &.Python {
        background: #3572A5;
    }
    &.Python traceback {
        background: undefined;
    }
    &.QML {
        background: #44a51c;
    }
    &.QMake {
        background: undefined;
    }
    &.R {
        background: #198ce7;
    }
    &.RAML {
        background: #77d9fb;
    }
    &.RDoc {
        background: undefined;
    }
    &.REALbasic {
        background: undefined;
    }
    &.RHTML {
        background: undefined;
    }
    &.RMarkdown {
        background: undefined;
    }
    &.Racket {
        background: #22228f;
    }
    &.Ragel in Ruby Host {
        background: #e17600;
    }
    &.Raw token data {
        background: undefined;
    }
    &.Rebol {
        background: #358a5b;
    }
    &.Red {
        background: #ee0000;
    }
    &.Redcode {
        background: undefined;
    }
    &.RenderScript {
        background: undefined;
    }
    &.RobotFramework {
        background: undefined;
    }
    &.Rouge {
        background: #cc0088;
    }
    &.Ruby {
        background: #701516;
    }
    &.Rust {
        background: #dea584;
    }
    &.SAS {
        background: #B34936;
    }
    &.SCSS {
        background: undefined;
    }
    &.SPARQL {
        background: undefined;
    }
    &.SQF {
        background: #3F3F3F;
    }
    &.SQL {
        background: undefined;
    }
    &.SQLPL {
        background: undefined;
    }
    &.STON {
        background: undefined;
    }
    &.SVG {
        background: undefined;
    }
    &.Sage {
        background: undefined;
    }
    &.SaltStack {
        background: #646464;
    }
    &.Sass {
        background: undefined;
    }
    &.Scala {
        background: #7dd3b0;
    }
    &.Scaml {
        background: undefined;
    }
    &.Scheme {
        background: #1e4aec;
    }
    &.Scilab {
        background: undefined;
    }
    &.Self {
        background: #0579aa;
    }
    &.Shell {
        background: #89e051;
    }
    &.ShellSession {
        background: undefined;
    }
    &.Shen {
        background: #120F14;
    }
    &.Slash {
        background: #007eff;
    }
    &.Slim {
        background: #ff8f77;
    }
    &.Smalltalk {
        background: #596706;
    }
    &.Smarty {
        background: undefined;
    }
    &.SourcePawn {
        background: #5c7611;
    }
    &.Squirrel {
        background: #800000;
    }
    &.Standard ML {
        background: #dc566d;
    }
    &.Stata {
        background: undefined;
    }
    &.Stylus {
        background: undefined;
    }
    &.SuperCollider {
        background: #46390b;
    }
    &.Swift {
        background: #ffac45;
    }
    &.SystemVerilog {
        background: #DAE1C2;
    }
    &.TOML {
        background: undefined;
    }
    &.TXL {
        background: undefined;
    }
    &.Tcl {
        background: #e4cc98;
    }
    &.Tcsh {
        background: undefined;
    }
    &.TeX {
        background: #3D6117;
    }
    &.Tea {
        background: undefined;
    }
    &.Text {
        background: undefined;
    }
    &.Textile {
        background: undefined;
    }
    &.Thrift {
        background: undefined;
    }
    &.Turing {
        background: #45f715;
    }
    &.Turtle {
        background: undefined;
    }
    &.Twig {
        background: undefined;
    }
    &.TypeScript {
        background: #2b7489;
    }
    &.Unified Parallel C {
        background: #4e3617;
    }
    &.UnrealScript {
        background: #a54c4d;
    }
    &.VCL {
        background: undefined;
    }
    &.VHDL {
        background: #adb2cb;
    }
    &.Vala {
        background: #fbe5cd;
    }
    &.Verilog {
        background: #b2b7f8;
    }
    &.VimL {
        background: #199f4b;
    }
    &.Visual Basic {
        background: #945db7;
    }
    &.Volt {
        background: #1F1F1F;
    }
    &.Web Ontology Language {
        background: #9cc9dd;
    }
    &.WebIDL {
        background: undefined;
    }
    &.XC {
        background: #99DA07;
    }
    &.XML {
        background: undefined;
    }
    &.XProc {
        background: undefined;
    }
    &.XQuery {
        background: #5232e7;
    }
    &.XS {
        background: undefined;
    }
    &.XSLT {
        background: undefined;
    }
    &.Xojo {
        background: undefined;
    }
    &.Xtend {
        background: undefined;
    }
    &.YAML {
        background: undefined;
    }
    &.Zephir {
        background: #118f9e;
    }
    &.Zimpl {
        background: undefined;
    }
    &.desktop {
        background: undefined;
    }
    &.eC {
        background: #913960;
    }
    &.edn {
        background: #db5855;
    }
    &.fish {
        background: undefined;
    }
    &.mupad {
        background: undefined;
    }
    &.nesC {
        background: #94B0C7;
    }
    &.ooc {
        background: #b0b77e;
    }
    &.reStructuredText {
        background: undefined;
    }
    &.wisp {
        background: #7582D1;
    }
    &.xBase {
        background: #403a40;
    }
}