div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

p {
    margin: .5em 0;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
    &:before {
        content: "\f00c";
        color: #333;
        font-family: FontAwesome;
        position: relative;
        left: -.2em;
    }
}