@charset 'utf-8';
@mixin keyframes($animation-name: animaton) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($animation-name) {
    -webkit-animation: $animation-name;
    -moz-animation: $animation-name;
    animation: $animation-name;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(fadeOut) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.wrapper {
    padding: 0 2em;
}

* {
    box-sizing: inherit;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
}

body {
    background-color: #fce;
    color: #333;
    line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // link
    $Color_link: #33f;
    $Color_link_hover: #f3f;
    a {
        &:link,
        &:visited,
        &:active {
            color: $Color_link;
            text-decoration: none
        }
        &:hover {
            color: $Color_link_hover;
        }
    }
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    margin-top: .5em;
    font-size: 2em;
    border-bottom: solid 3px skyblue;
    position: relative;
    &:before {
        content: "\00a0";
    }
    &:after {
        position: absolute;
        content: "\00a0";
        display: block;
        border-bottom: solid 3px #ffc778;
        bottom: -3px;
        width: 30%;
    }
}

section.fadein {
    @include animation(fadeIn 0.3s ease 0.15s);
}

section.fadeout {
    @include animation(fadeOut 0.3s ease 0.15s);
}

#main {
    margin: 210px 10px 0 22px;
    padding: 0 5px;
    background-color: #fff;
    border-radius: 5px;
}

#field-icon_url {
    img {
        border-radius: 50%;
    }
    width: 150px;
    height: 150px;
    position: relative;
    top: -100px;
    margin: 0 auto;
    margin-bottom: -100px;
}

#master_profiles,
{
    padding: 0 1em;
    .fa {
        width: 1em;
        text-align: center;
    }
    #field-name {
        text-align: center;
        h1 {
            font-size: 3em;
            display: inline-block;
        }
    }
    #field-bio {
        text-align: center;
        margin-bottom: 1em;
        span {
            display: inline-block;
        }
    }
}

//menu
#fixedMenu {
    top: 215px;
    left: 0;
    width: 150px;
    position: absolute;
    .index {
        position: relative;
        height: 200px;
        width: 0;
        border-top: 20px solid transparent;
        border-left: 0px transparent;
        border-right: 30px solid #428BCA;
        border-bottom: 20px solid transparent;
        div {
            height: 100%;
            display: inline-block;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            text-align: center;
            color: #fff;
            text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 0px 1px 0, black 0-1px 0, black -1px 0 0, black 1px 0 0;
        }
    }
}